body{
  background-color: coral;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.devoured_bu{
  float: left;
}
h1{
  text-align: center;
  padding-bottom: 50px;
}
h2, ul{
  text-align: center;
}
#addburger{
  text-align: center;
  justify-content: center;
}